@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body, html {
	margin: 0;
	font-family: Roboto, Arial, helvetica, sans-serif;
    
}

a {
	outline: none;
}

.navbar-container {
	text-align: center;
	background-color: 	#f8d9e5;
	box-shadow: 0px -20px 5px 20px #333333;
	padding: 25px;
	font-size: 0;
    height: 15vh;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul li a {
	color: #000;
    font-weight: 800;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #000;
}

.navbar-container ul li:hover .underline {
	background-color: #000;
	width: 100%;
}


.navbar-container ul li:active a {
	transition: none;
	color: #000;
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: #000;
}
.logo{
    float: left;
    margin-top: -9mm;
}

  .dropdown-menu {
    display: none;
  }

  .nav-link .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
  }
  .nav-link:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .dropdown-menu li a {
    color: #333;
    text-decoration: none;
  }
  .dropdown-menu li a:hover {
    color: #f09cbc;
  }
  footer{
    text-align: center;
	background-color: 	#f8d9e5;
    height: 7vh;
    margin-top: 10mm;
  }

/*-=====================================*/

body{
    background:#ffecd7;
  }
  
  .section{
    overflow: hidden;  
    width: 100%;
    padding: 100px 0px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .container{
    width:900px;
    height:300px;
    position:relative;
  }
  
  .container h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:100;
    width:50%;

    margin-bottom:0;
    margin-top:0;
  }
  
  .container h2{
    padding:0px 50px 0px 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:100;
    margin-top:10px;
  }
  .container a{
    text-decoration:none;
    color:#ea5b70;
    font-size:20px;
    border-bottom:2px solid #ea5b70;
  }
  .slider {
      background: #fff;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 5px 5px 3px rgba(66, 44, 21, 0.15);
  }
  
  .slider.hover:after{
    left:-60px;
    bottom:-90px;
  }
  .slider img{
    position:absolute;
    right:0px;
    top:-60px;
    margin-right: -250px;
  }
  
  .slider:after{
    content:"";
    position:absolute;
    bottom:-80px;
    left:-50px;
    width:342px;
    height:346px;
    background:url(https://www.dropbox.com/s/gupcpzx7gpqwhve/1.png?dl=1);
    z-index:-1;
    transition:.2s;
  }